@media (max-width: 767px) {

	/* COMMON */
.wrapimg img {
    position: absolute;
    top: -36px;
    left: 169px;
    width: 455px;
    height: 251px;
}
	
	.br1200{display:none;}
	.br1199{display:none;}
	.br0991{display:none;}
	.br0767{display:block;}
	.br0480{display:block;}


	.btn-order {
		border-radius:25px;
		line-height:20px;
		color:#fff;
		font-size:18px;
		padding:15px;
		text-align:center;
		display:block;
	}
	.btn-order:hover, .btn-order:active, .btn-order:focus {
		background-color:#e75757;
		color:#fff;
		text-decoration:none;
	}
	.btn-white {
		color:#c50000;
		background:none;
		border:2px solid #c50000;
		margin-bottom:25px;
	}
	.btn-white:hover, .btn-white:active, .btn-white:focus {
		border:2px solid #e75757;
		color:#e75757;
		background:none;
		text-decoration:none;
	}
	.order-dual .btn-order {
		display:block;
		text-align:center;
		padding:15px;
	}
	/* HOME */
    #home .order_link .text span {
        color: #333 !important;
        font-size: 23 !important;
    }
    span.price_old span.price_main_value, span.price_old span.price_main_currency{
        
    }
    span.price_main span.price_main_value, span.price_main span.price_main_currency{
        color: #f93e0f !important;
        font-weight: bold;
    }
    #home .bottom h2 {
        color: #333 !important;
    }
    
    #home .title-big {
        color: #333 !important;
    }
    
	#home {
		position:relative;
		overflow:hidden;
        height: 600px !important;
    
	}
    .form-main-title--all {
        text-align: left;
    }
    #home.fullscreen .bottom {
        bottom: 85px;
    }
    .form-wrapper--bg {
        min-height: 387px;
    }


	/* HOME>TOP */
	#home .top {
		height:auto;
		position:relative;
	}
	#home .top h1 {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:300;
		font-size:18px;
		margin:0;
		padding:30px 0;
		line-height:24px;
		opacity:.95;
		text-align:center;
	}
	#home .top .phone {
		display:block;
		font-family: 'Roboto Condensed', sans-serif;
		color:#fff;
		font-weight:400;
		font-size:40px;
		line-height:40px;
		text-align:center;
		padding:30px 0 0 0;
	}
	#home .top .callback {
		display:block;
		float:none;
		text-align:center;
		color:#fff;
		font-size:18px;
	}
	#home .top .callback:hover, #home .top .callback:active, #home .top .callback:focus {
		text-decoration:none;
	}
	#home .top .callback>span {
		border-bottom:1px dotted rgba(255,255,255,.5);
		position:relative;
	}
	#home .top .logo {
		height:51px;
		width:275px;
		position:relative;
		bottom:auto;
		left:auto;
		margin:0 auto;
	}
	#home .top .logo:before, #home .top .logo:after {
		top:25px;
	}

	/* HOME>BOTTOM */
	#home .video {
		position:absolute;
		top:0;
		right:0;
		bottom:auto;
		left:0;
		z-index:-1;
		overflow:hidden;
	}
	#home .video video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(../images/video_2.jpg) no-repeat;
		background-size: cover;
	}
	#home .overlay {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background:url(../images/overlay.png);
	}
	#home .border {
		display:none;
	}
	#home .bottom {
		padding-top:30px;
	}

	#home .order {
		height:auto;
		margin:35px 0 50px 0;
		position:relative;
	}
	#home .order .btn-order {
		float:none;
	}
	#home .order #gogogo {
		display:none;
	}
	#home .title-big {
		display:block;
		font-family: 'Roboto Condensed', sans-serif;
		color:#fff;
		font-weight:700;
		font-size:120px;
		line-height:.9;
		text-align:center;
		padding:0 0 10px 0;
		text-transform:uppercase;
	}
	#home .bottom h2 {
		display:block;
		font-family: 'Roboto', sans-serif;
		color:#fff;
		font-weight:700;
		font-size:30px;
		line-height:40px;
		text-align:center;
		padding:0 0 30px 0;
		margin:0;
		text-transform:uppercase;
	}
	#home .bottom .features {
		margin:0;
		padding:0;
		list-style:none;
		color:#333;
		font-size:18px;
	}
	#home .bottom .features li {
		padding:15px 0 15px 55px;
		background:url(../images/check-green.png) 0 50% no-repeat;
		opacity:1;
	}
	#home .bottom .product {
		position:relative;
	}

	#home .bottom .product img {
		position:relative;
		bottom:auto;
		left:22%;
		display:block;
		margin:0 auto;
		max-height:100%;
		max-width:100%;
	}

	/* BLOCK */

	.block {
		padding:30px 0;
	}
	.block .title {
		padding-bottom:30px;
	}
	.block h2 {
		font-family: 'Roboto Condensed', sans-serif;
		color:#333;
		font-weight:700;
		font-size:50px;
		line-height:1.1;
		text-align:center;
		margin:0;
		text-transform:uppercase;
	}
	.block .subtitle {
		display:block;
		font-family: 'Roboto', sans-serif;
		color:#aa0000;
		font-weight:700;
		font-size:24px;
		line-height:1.1;
		text-align:center;
		padding:10px 0 0 0;
		margin:0;
		text-transform:uppercase;
	}
	.bigtext {
		font-size:18px;
		line-height:1.4;
		margin:0;
	}
	.block .title-small {
		font-family: 'Roboto Condensed', sans-serif;
		color:#333;
		font-weight:700;
		font-size:36px;
		line-height:1.2;
		text-align:center;
		margin:0;
		text-transform:uppercase;
	}
	.block  .txt-gray, .txt-gray h2 {
		color:#d7dce1 !important;
	}
	.block .order {
		text-align:center;
	}
	/* CONSULTANT */
	#cons .counter {
		margin:30px 0;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
		font-family: 'Roboto Condensed', sans-serif;
		color:#333;
		font-weight:300;
		font-size:12px;
		text-transform:uppercase;
	}
	#cons .counter .left {
		text-align:right;
	}
	#cons .counter .middle {
		text-align:center;
		font-weight:700;
		font-size:28px;
	}
	#cons .counter .left, #cons .counter .right {
		padding-top:12px;
	}
	#cons .container {
		position:relative;
	}
	#cons img {
		display:none;
	}

	/* RESULT */
	#result .result img {
		margin:0 auto;
	}
	#result .result p {
		font-size:18px;
		line-height:1.4;
		text-align:center;
		margin:15px 0 30px 0;
	}
	#result .visual {
		margin-top:30px;
		margin-bottom:30px;
	}
	#result .visual img {
		margin:0 auto;
	}
	.heart-block {
		text-align:center;
	}
	#heart {
		position:relative;
		display:inline-block;
	}
	#result .good, #result .bad {
		display:none;
	}
	  
	/* SYMPTOM */
	.symptoms p {
		font-size:18px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:300;
		text-align:center;
		margin:10px 0 30px 0;
	}

	/* HELP */
	#help .features {
		margin:0 0 30px 0;
		padding:0;
		list-style:none;
		font-size:18px;
	}
	#help .features li {
		position:relative;
		padding:15px 0 15px 55px;
		background:url(../images/check-green.png) 0 50% no-repeat;
		line-height:1;
	}
	#help .features li:before {
		display:none;
	}
	.flist {
		position:relative
	}
	.flist:before {
		display:none;
	}
	.flist:after {
		display:none;
	}
	.help-visual {
		position:relative;
		margin-bottom:0px;
	}
	.help-visual img {
		display:none;
	}

	/* SLIDER */

	/* DANGER */
	#danger .carousel-inner {
		overflow:visible;
	}
	.item .container {
		position:relative;
		min-height:auto;
	}
	#danger .item img {
		display:none;
	}
	#danger .carousel-indicators {
		margin:35px 0 15px 0;
		list-style:none;
		text-align:center;
		position:relative;
		width:100%;
		bottom:auto;
		left:auto;
		
	}
	#danger .carousel-indicators li {
		display:block;
		margin:15px 0;
		color:#bbb;
		background:none;
		border:2px solid #bbb;
		border-radius:25px;
		padding:5px 15px;
		font-weight:700;
		font-size:18px;
		cursor:pointer;
		width:100%;
		height:auto;
		text-indent:0;
	}
	#danger .carousel-indicators li.active {
		color:#c50000;
		border:2px solid #c50000;
	}
	#danger .bigtext {
		margin-bottom:30px;
	}
	/* PREVENT*/
	#prevent .carousel-indicators {
		margin:35px 0 35px 0;
		list-style:none;
		text-align:center;
		position:relative;
		width:100%;
		bottom:auto;
		left:auto;
		
	}
	#prevent .carousel-indicators li {
		background:#bbb;
		border:none;
		border-radius:50%;
		font-weight:700;
		font-size:18px;
		cursor:pointer;
	}
	#prevent .carousel-indicators li.active {
		background:#c50000;
		border:none;
	}
	#prevent .flist:before {
		background-image:url(../images/line-green.png);
	}
	#prevent .flist:after {
		background-image:url(../images/line-check.png);
	}
	#prevent .carousel-inner {
		margin:15px 0 30px 0;
		font-size:18px;
		line-height:32px;
	}

	/* START */
	.steps-1 {
		height:auto;
	}
	.steps-2>div {
		float:none;
	}
	.step {
		position:relative;
	}
	.step .icon {
		height:100px;
		background-position:50% 100%;
		background-repeat:no-repeat;
		background-size:auto auto;
	}
	.step .num {
		display:block;
		height:30px;
		width:30px;
		border:5px solid #c1cb95;
		text-align:center;
		line-height:21px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:700;
		font-size:14px;
		color:#669019;
		background:#fff;
		border-radius:50%;
		margin:0 auto;
		position:relative;
		z-index:2;
	}
	.step .count {
		position:relative;
		height:30px;
		margin:10px 0;
	}
	.step .count:before {
		display:block !important;
		opacity:.25;
	}
	.step .count:after {
		display:block !important;
		opacity:.25;
	}
	.step-4 .round {
		display:none;
	}

	.step p {
		font-size:18px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:300;
		text-align:center;
		margin-bottom:30px;
	}

	/* TEAM */
	.leader img {
		margin:0 auto;
		border-radius:50%;
	}
	.leader h3 {
		font-family: 'Roboto Condensed', sans-serif;
		color:#333;
		font-weight:400;
		font-size:24px;
		text-align:center;
	}
	.leader p {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:300;
		font-size:18px;	
	}
	.leader .order-dual {
		margin:20px 0 30px 0;
	}
	.feedback h3 {
		display:block;
		font-family: 'Roboto', sans-serif;
		color:#aa0000;
		font-weight:700;
		font-size:24px;
		line-height:1.1;
		padding:0 0 30px 0;
		margin:0;
		text-transform:uppercase;
		text-align:center;
	}
	.response {
		background:#ebedf0;
		padding:15px;
		margin-bottom:30px;
		position:relative;
	}
	.response:after {
		content:'';
		position:absolute;
		bottom:0;
		right:-30px;
		width:30px;
		height:34px;
		background:url(../images/corner-right.png);
	}
	.response:before {
		content:'';
		position:absolute;
		bottom:-20px;
		right:-30px;
		width:390px;
		height:20px;
		background:url(../images/corner-bottom.png);
	}
	.response .name {
		color:#555;
		font-size:18px;
		padding:0 0 5px 0;
	}
	.response .phone {
		color:#aaa;
		font-size:18px;
		padding:0 0 10px;
	}
	.team-separator {
		border-top:1px solid #ccc;
		margin:20px 0 50px 0;
	}
	.private h3 {
		font-size:18px;
		font-family: 'Roboto Condensed', sans-serif;
		padding:15px 0;
		margin:0;
		font-weight:400;
		text-align:center;
	}
	.private img {
		border-radius:50%;
		margin:0 auto;
	}

	/* FINAL */
	#final .features {
		margin:-15px 0 0 0;
		padding:0;
		list-style:none;
		color:#333;
		font-size:24px;
	}
	#final .features li {
		padding:15px 0 15px 55px;
		background:url(../images/check-green.png) 0 50% no-repeat;
		opacity:.95;
	}
	#final .order {
		padding:30px 15px 0 15px;
		text-align:right;
		border-bottom:none;
	}
	#realy .container {
		position:relative;
	}
	#realy .help-visual img {
		bottom:-200px;
	}

	/* CONTACT */
	#contact img {
		margin:0 auto;
	}
	#contact p {
		margin: 15px 0 50px 0;
		text-align:center;
		font-size:18px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:300;
	}
	#contact a, #contact a:hover {
		color:#333;
		text-decoration:underline;
	}
	#contact a.popup, #contact a.popup:hover {
		text-decoration:none;
		border-bottom:1px dotted #333;
	}

	/* FOOTER */
	#footer {
		padding:30px 0 20px 0;
		font-size:18px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:300;
	}
	/*.symptoms>.col-sm-2, #result .result, #start .step, #contact .col-sm-3, .other .private {
		width:50%;
		float:left;
	}*/	
}

/*@media only screen and ((max-width: 480px){
	.symptoms>.col-sm-2, #result .result, #start .step, #contact .col-sm-3, .other .private {
		width:100%;
		float:none;
	}	
		
	}
	.br1200{display:none;}
	.br1199{display:none;}
	.br0991{display:none;}
	.br0767{display:none;}
	.br0480{display:block;}
}*/