@media (max-width: 991px) {

	/* COMMON */
    .wrapimg img {
    position: absolute;
top: -36px;
left: 181px;
width: 466px;
height: 260px;
}
        
        #help .form-wrapper--bg .form-left--all, #prevent .form-wrapper--bg .form-left--all, #final .form-wrapper--bg .form-left--all {
    margin-top: 0px !important;
}

	body {
		overflow-x:hidden !important;
	}
	
	.br1200{display:none;}
	.br1199{display:none;}
	.br0991{display:block;}
	.br0767{display:none;}
	.br0481{display:none;}
  .hide_mobile{display: none;}

	
	.btn-order {
		border-radius:20px;
		line-height:16px;
		font-size:12px;
		padding:7px 10px;
	}
	.btn-white {
		border:1px solid #c50000;
	}
	.btn-white:hover, .btn-white:active, .btn-white:focus {
		border:1px solid #e75757;
	}
	.order-dual .btn-order {
		padding:10px;
	}

	/* HOME>TOP */
    
    
    #home {
    position: relative;
    overflow: hidden;
    height: 588px !important;
}
    #home .order_link .text span {
    display: inline-block !important;
    color: #fff !important;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 21px !important;
    line-height: 1.2;
}
    #home.fullscreen .bottom {
    position: absolute;
right: 0;
bottom: 140px;
left: 0;
}
        
 #home .order_link {
    display: inline-block !important;
    width: 415px;
    margin-top: -80px;
    margin-right: 10px;
    padding-left: 65px;
    background: url(../images/dia_sale_label.png) left center no-repeat;
    min-height: 50px;
    margin: 0 auto !important;
     float: none !important;
}
        
   #home .own_order {
       text-align: center;
       margin-top: 30px;
}
    
    .form-center--all::before {
            left: -20px;
top: -131px;
        }
    
    #danger .bigtext {
            overflow: visible !important;
        }
	#home .top {
		height:60px;
	}
	#home .top h1 {
		font-size:14px;
		padding:12px 0 0 0;
		line-height:18px;
	}
	#home .top .phone {
		font-weight:400;
		font-size:24px;
		line-height:24px;
		padding:10px 0 0 0;
	}
	#home .top .callback {
		font-size:12px;
	}
	#home .top .logo {
		height:37px;
		width:200px;
		bottom:-18px;
		left:50%;
		margin-left:-100px;
		background-size:100% auto;
	}
	#home .top .logo:before, #home .top .logo:after {
		height:1px;
		width:999px;
		top:18px;
	}
	#home .top .logo:before {
		left:-999px;
	}
	#home .top .logo:after {
		right:-999px;
	}

	/* HOME>BOTTOM */
	#home .video {
		top:0;
		right:0;
		bottom:0;
		left:0;
		z-index:-1;
	}
	#home .video video {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(../images/video_1.jpg) no-repeat;
		background-size: cover;
	}
	#home .border {
		position:absolute;
		height:60px;
	}
	#home .bottom {
		padding-top:30px;
	}
	#home .order {
		height: 422px !important;
    margin: 0px 0 10px 0;
    float: right;
    display: none;
	}    
  #home .order_link{
    display: block;
    float: right;
    width: 415px;
    margin-top: -80px;
    margin-right: 10px;
    padding-left: 65px;
    background:  url(../images/dia_sale_label.png) left center no-repeat;
    min-height: 50px;
  }
  #home .order_link .text{
    width: 200px;
    float: left;
  }
  #home .order_link .text span{
    display: block;
    color: #333;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    line-height: 1.2;
  }
  #home .order_link .text span.title{
    color: #333;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }
  #home .order_link .text span.old_price b{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 30px;
    position: relative;
    text-decoration: line-through;
    font-weight: bold;
  }
  #home .order_link .text span.new_price b{
    color: #f93e0f;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 38px;
  }  
  #home .order_link .click_me{
    display: block;
    float: right;
    background-color: #c50000;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: block !important;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 30px;
    margin-top: 5px;
  }  
	#home .order #gogogo {
		width:40px;
		height:60px;
		bottom:-10px;
		left:-50px;
		background-size:20px auto;
	}

	#home .title-big {
		font-weight:700;
		font-size:50px !important;
		line-height:.9;
		padding:0 0 5px 0;
	}
	#home .bottom h2 {
		font-weight:700;
		font-size:16px;
		line-height:16px;
		padding:0 0 5px 0;
		margin:0;
	}
	#home .bottom .features {
		margin:0 0 0 -50px;
		padding:0;
		font-size:14px;
    display: none;
	}
	#home .bottom .features li {
		padding:12px 0 12px 35px;
		background-size:20px auto;
		opacity:1;
	}
	#home .bottom .product img {
    left: -513px;
    bottom: -30px;
    max-height: 300px;
    width: 60%;
    float: left;
}
.col-sm-6.col-sm-offset-6.feat {
    margin-left: 28% !important;
    width: 75%;
}#home .order {
  
    margin: 0px 0 10px 0;
}p.price-old-x--top {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
    position: relative;
    letter-spacing: -1px;
    margin: 5px 15px 6px;
}

	/* BLOCK */
	.block {
		padding:30px 0;
	}
	.block .title {
		padding-bottom:30px;
	}
	.block h2 {
		font-weight:700;
		font-size:24px;
		line-height:.9;
		margin:0;
	}
	.block .subtitle {
		font-weight:700;
		font-size:16px;
		line-height:1.1;
		margin:0;
	}
	.bigtext {
		font-size:16px;
		line-height:20px;
		margin:0;
	}
	.block .title-small {
		font-weight:700;
		font-size:18px;
		line-height:1.2;
		margin:0;
	}
	/* CONSULTANT */
  #cons{
    margin-top: 0px;
  }
	#cons .counter {
		margin:30px 0;
		font-weight:300;
		font-size:14px;
	}
	#cons .counter .middle {
		font-weight:700;
		font-size:28px;
	}
	#cons .counter .left, #cons .counter .right {
		padding-top:12px;
	}
	#cons img {
		position:absolute;
		right:-50px;
		bottom:-30px;
		max-height:325px;
	}

	/* RESULT */
	#result .result p {
		font-size:14px;
		line-height:18px;
		margin:15px 0 30px 0;
	}
	#result .visual {
		margin-top:30px;
		margin-bottom:30px;
	}
	#result .good, #result .bad {
		padding-top:90px;
		font-size:14px;
	}
	#result .good {
		background-position:100% 30px;
	}
	#result .bad {
		background-position:0 12px;
	}
	#heart .rays2 {
		right:15px;
		top: 15px;
		left:15px;
		bottom:15px;
	}
	  
	/* SYMPTOM */
	.symptoms p {
		font-size:14px;
		margin:10px 0 30px 0;
		line-height:1;
	}
	.symptoms img {
		border:2px solid #fff;
		margin:0 auto;
	}

	/* HELP */
	#help .features {
		margin:0 0 30px -14px;
		padding:0;
		font-size:14px;
	}
	#help .features li {
		padding:5px 0 5px 30px;
		line-height:1;
    margin-bottom: 5px;
	}
	#help .features li:before {
		left:0;
		top:50%;
		width:15px;
		height:1px;
	}
	.flist:before {
		top:-30px;
		left:-2px;
		bottom:0;
		width:3px;
	}
	.flist:after {
		left:-12px;
		bottom:-10px;
		width:23px;
		height:21px;
		background-size:100% 100%;
	}
	.help-visual {
		margin-bottom:30px;
	}
	.help-visual img {
		bottom:0;
		left:-100px;
		max-height:300px;
	}

	/* DANGER */
	#danger .item img {
		position:absolute;
		right:auto;
		left:55%;
		bottom:-30px;
		max-height:400px;
	}
	#danger .carousel-indicators {
		margin:10px 0;
		width:100%;
	}
	#danger .carousel-indicators li {
		margin:10px;
		border:1px solid #bbb;
		border-radius:20px;
		padding:5px 10px;
		font-weight:400;
		font-size:14px;
		text-indent:0;
	}
	#danger .carousel-indicators li.active {
		border:1px solid #c50000;
	}
	#danger .bigtext {
		margin-bottom:30px;
		line-height:1.5;
    height: 230px;
    overflow: hidden;
	}
	/* PREVENT*/
	#prevent .carousel-indicators {
		margin:15px 0 15px 0;
	}
	#prevent .carousel-indicators li {
		border-radius:50%;
		font-weight:700;
		font-size:18px;
	}
	#prevent .carousel-inner {
		margin:30px 0 80px 30px;
		font-size:16px;
		line-height:24px;
	}

	/* START */
	.steps-1 {
		height:220px;
	}
	.step .icon {
		height:60px;
		background-size:auto 100%;
	}
	.step .num {
		height:30px;
		width:30px;
		border:5px solid #c1cb95;
		line-height:21px;
		font-size:14px;
		margin:0 auto;
		z-index:2;
	}
	.step .count {
		position:relative;
		height:30px;
		margin:15px 0;
	}
	.step .count:before {
		left:50%;
		right:-15px;
		top:14px;
		height:2px;
	}
	.step .count:after {
		right:50%;
		left:-15px;
		top:14px;
		height:2px;
	}
	.step-1 .count:after, .step-8 .count:after {
		display:none;
	}
	.step-4 .count:before, .step-5 .count:before {
		display:none;
	}
	.step-4 .round {
		top:88px;
		left:50%;
		width:200px;
		height:222px;
	}
	.step-4 .round:after {
		top:0;
		left:-270px;
		width:400px;
		height:222px;
		border:2px solid #fff;
		border-radius:100px;
	}
	.step p {
		font-size:14px;
		font-weight:300;
	}

	/* TEAM */
	.leader img {
		margin:0 auto;
		border-radius:50%;
	}
	.leader h3 {
		font-weight:400;
		font-size:16px;
	}
	.leader p {
		font-weight:300;
		font-size:14px;	
	}
	.leader .order-dual {
		margin:20px 0 30px 0;
	}
	.feedback h3 {
		font-weight:700;
		font-size:18px;
		line-height:1.1;
		padding:0 0 30px 0;
		margin:0;
	}
	.response {
		padding:15px;
		margin-bottom:30px;
	}
	.response:after {
		bottom:0;
		right:-30px;
		width:30px;
		height:34px;
	}
	.response:before {
		bottom:-20px;
		right:-30px;
		width:390px;
		height:20px;
	}
	.response .name {
		font-size:14px;
		padding:0 0 5px 0;
	}
	.response .phone {
		font-size:14px;
		padding:0 0 10px;
	}
	.team-separator {
		border-top:1px solid #ccc;
		margin:20px 0 30px 0;
	}
	.private h3 {
		font-size:14px;
		padding:10px 0;
		font-weight:400;
	}
	.private img {
		border-radius:50%;
		margin:0 auto;
	}
  .private p{
    text-align: center;
  }

	/* FINAL */
	#final .features {
		margin:0 0 0 -50px;
		padding:0;
		font-size:16px;
	}
	#final .features li {
		padding:12px 0 12px 35px;
		opacity:.95;
		background-size:20px auto;
	}
	#final .order {
		padding:15px 0;
		border-bottom:1px solid #ccc;
	}
	#realy .help-visual img {
		bottom:-120px;
	}

	/* CONTACT */
	#contact img {
		margin:0 auto;
	}
	#contact p {
		margin: 15px 0 30px 0;
		font-size:14px;
		font-weight:300;
	}
	#contact a, #contact a:hover {
		color:#333;
	}
	#contact a.popup, #contact a.popup:hover {
		border-bottom:1px dotted #333;
	}

	/* FOOTER */
	#footer {
		padding:30px 0 20px 0;
		font-size:14px;
		font-weight:300;
	}
	#footer p {
		margin-bottom:5px;
	}
  #help .form-wrapper--bg .form-center--all, #prevent .form-wrapper--bg .form-center--all, #final .form-wrapper--bg .form-center--all{
    width: 43% !important;
    margin-left: -52px;
    margin-top: 84px;
  }
  #help .form-wrapper--bg .form-left--all, #prevent .form-wrapper--bg .form-left--all, #final .form-wrapper--bg .form-left--all{
    margin-top: -74px;
  }
  #help .form--all form:after, #prevent .form--all form:after, #final .form--all form:after{
    left: -35px;
    bottom: 55px; 
  }
  .popform .form-wrapper--bg .form-center--all{
    width: 35% !important;
    margin-left: -5px;
    margin-top: 65px;
  }
  .second_popup_form .form-wrapper--bg .form-center--all{
    margin-left: 15px;
  }
  .first_form, .first_form .form-wrapper--bg{
    min-width: 620px;
  }
  .first_form .form-wrapper--bg .form-center--all{
    min-width: 230px;
    margin-left: 15px;
  }
  #danger{
    width: 100%;
    position: relative;
    height:;
    overflow: hidden;
  }
  .fancybox-default-skin-open, .fancybox-wrap{
     min-width: 700px;
  }
  a.fancybox-close{
    width: 45px;
    height: 45px;
    padding: 0px ;
  }
  .second_popup_form .form--all form:after, #exit .form--all form:after{
    left: -35px;
    bottom: 50px;
  }
  #home .bottom .product .product-img.mobile-img{
  display: inline-block;
  }
  #home .bottom .product .product-img.deskstop-img{
  display: none;                              
  } 
  div#pop_big{
    margin-left: 30px;  
  }
}
@media (max-width: 834px) {
#home .order {
    margin: 0px 0 10px 0;
    height: 362px !important;
}}